body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4fbff;
  color: #033;
}

header {
  background: linear-gradient(135deg, #00bcd4, #006994);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}